<!DOCTYPE html>
<html>
    <head>
        <title>Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="resources/css/normalize.css" rel="stylesheet" />
        <link href="resources/css/jquery.dataTables.css" rel="stylesheet" />
        <link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="resources/css/datatables.css" rel="stylesheet" />
        <link href="resources/css/template.css" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="page-container" style="display: none;">
            <div class="side-menu">
                <header>
                    <div class="logo">
                        <a href="#">Admin Template</a>
                    </div>
                </header>
                <ul class="items" style="">
                    <li class="root-level">
                        <a href="dashboard.html"><span class="glyphicon glyphicon-home"></span><span style=""> Dashboard</span></a>
                    </li>
                    <li class="root-level has-sub">
                        <a href="#"><span class="glyphicon glyphicon-user"></span><span style=""> HR</span></a>
                        <ul class="sub-items" style="display: none;">
                            <li><a href="employee.html">Employees</a></li>
                            <li><a href="overtime.html">Overtime</a></li>
                            <li><a href="leave.html">Leave</a></li>
                            <li><a href="change-request.html">Change Request</a></li>
                        </ul>
                    </li>
                    <li class="root-level">
                        <a href="#"><span class="glyphicon glyphicon-leaf"></span><span style=""> IT</span></a>
                    </li>
                    <li class="root-level ">
                        <a href="#"><span class="glyphicon glyphicon-question-sign"></span><span style=""> Production</span></a>
                    </li>
                    <li class="root-level">
                        <a href="#"><span class="glyphicon glyphicon-cog"></span><span style=""> Sysadmin</span></a>
                    </li>
                </ul>            
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-md-6 col-sm-8" id="user-management-panel">
                        <ul>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Michael Ramos
                                </a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-list"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-4">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li><a href="dashboard.html"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</a></li>
                            <li><a href="#" class="disabled">HR</a></li>
                            <li class="active">Employees</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
        <script src="resources/js/jquery-1.10.2.min.js"></script>
        <script src="resources/js/bootstrap.min.js"></script>
        <script src="resources/js/jquery.dataTables.min.js"></script>
        <script src="resources/js/datatables.js"></script>
        <script src="resources/js/template.js"></script>
    </body>
</html>