<div class="side-menu">
    <header>
        <div class="logo">
            <a href="#">Go On Girl...</a>
        </div>
    </header>
    <ul class="items" style="">
        <li class="root-level">
            <a href="dashboard.html"><span class="glyphicon glyphicon-home"></span><span style=""> Dashboard</span></a>
        </li>
        <li class="root-level has-sub">
            <a href="#"><span class="glyphicon glyphicon-user"></span><span style=""> HR</span></a>
            <ul class="sub-items" style="display: none;">
                <li><a href="employee.html">Employees</a></li>
            </ul>
        </li>
        <li class="root-level">
            <a href="#"><span class="glyphicon glyphicon-leaf"></span><span style=""> IT</span></a>
        </li>
        <li class="root-level ">
            <a href="#"><span class="glyphicon glyphicon-question-sign"></span><span style=""> Production</span></a>
        </li>
        <li class="root-level">
            <a href="#"><span class="glyphicon glyphicon-cog"></span><span style=""> Sysadmin</span></a>
        </li>
    </ul>            
</div>